<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  {% if pagename %}
  <title>{% block pagename %}{% endblock %} - {{ meta.note_title }}</title>
  {% else %}
  <title>{{ meta.note_title }}</title>
  {% endif %}

  <meta name="description" content="{{ meta.summary|default(meta.note_description) }}">
  {% if meta.tags %}
  <meta name="keywords" content="{{ meta.tags|join(',') }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ pagename + " - " + meta.note_title|default(meta.note_title) }}">
  <meta property="og:description" content="{{ meta.summary|default(meta.note_description) }}">
  <meta property="og:image" content="{{ meta.thumbnail|default(request.url_root + 'static/img/favicons/apple-touch-icon-152x152.png') }}">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block script %}{% endblock %}
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for('static', filename='img/favicons/apple-touch-icon-152x152.png') }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}"  />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}"  />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments/arduino.css') }}" />
  {% block css %}{% endblock %}
  {% if meta.ga_tracking_id %}
  {% include "google_analytics.html" %}
  {% endif %}
</head>
<body>
<header>
  <div class="page">
    <div class="left">
      <h1><a href="/">{{ meta.note_title }}</a></h1>
      {% if meta.note_subtitle is not none %}
        <p>{{ meta.note_subtitle }}</p>
      {% endif %}
    </div>
    <div class="right">
      <button>Menu</button>
    </div>
  </div>
</header>
<nav class="menubar">
  <div class="page">
    <ul>
      {% for item in menu %}
        <li>
          <a class="menu-{{ item.type }}" href="{{ item.url }}">{{ item.label }}</a>
        </li>
      {% endfor %}
    </ul>

    {% set class_names = {0: 'closed', 1: 'allow-link', 2: 'opened'} %}
    {% set encrypted_url = url_for('note.route_page', page_path=meta.encrypted_path, _external=True) %}
    {% if meta.is_page and meta.logged_in %}
      <div class="permission {{ class_names[meta.permission] }}">
        <div>
          {% if meta.permission == 0 %}
            <strong>비공개 문서</strong> 로그인한 사용자에게만 보여집니다.
          {% elif meta.permission == 1 %}
            <strong>링크 허용 문서</strong> 아래 링크를 가진 사람에게 공유됩니다.<br />
            <a href="{{ encrypted_url }}">{{ encrypted_url }}</a>
          {% else %}
            <strong>공개 문서</strong> 모두에게 보여집니다.
          {% endif %}
        </div>
      </div>
    {% else %}
      {% if meta.permission == 1 %}
        <div class="permission {{ class_names[meta.permission] }}">
          <div>
            <strong>링크 허용 문서</strong> 아래 링크를 가진 사람에게 공유됩니다.<br />
            <a href="{{ encrypted_url }}">{{ encrypted_url }}</a>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</nav>
<article>
  <div class="page">
    {% block content %}{% endblock %}
  </div>
  {% block html %}{% endblock %}
</article>
<footer>
  <div class="page">&copy; Copyright {{ meta.year }} by {{ meta.user_name }}.</div>
</footer>
</body>
</html>
