<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pagename }} - {{ notename }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments/arduino.css') }}" />
</head>
<body>
  <header>
    <div class="page">
      <h1><a href="/">{{ note_name }}</a></h1>
      <p>{{ note_description }}</p>
    </div>
  </header>
  <article>
    <div class="page">
      <h1>{{ pagename }}</h1>
      {% block content %}{% endblock %}
    </div>
  </article>
  <footer>
    <div class="page">&copy; Copyright 2018 by ipari.</div>
  </footer>
</body>
</html>
