<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block script %}{% endblock %}
  <title>{% block pagename %}{% endblock %} - {{ meta.note_name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments/arduino.css') }}" />
  {% block css %}{% endblock %}
</head>
<body>
  <header>
    <div class="page">
      <div class="left">
        <h1><a href="/">{{ meta.note_name }}</a></h1>
        <p>{{ meta.note_description }}</p>
      </div>
      <div class="right">
        <button>Menu</button>
      </div>
    </div>
  </header>
  <nav>
    <div class="page">
      <ul>
      {% set menu_name = {
        'login': '로그인',
        'logout': '로그아웃',
        'write': '작성',
        'edit': '편집',
        'archive': '목록',
        'config': '설정' }
      %}
      {% for item in menu %}
        <li>
          <a class="menu-{{ item.type }}" href="{{ item.url }}">{{ menu_name[item.type] }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </nav>
  <article>
    <div class="page">
      {% block content %}{% endblock %}
    </div>
  </article>
  <footer>
    <div class="page">&copy; Copyright 2018 by {{ meta.user_name }}.</div>
  </footer>
</body>
</html>
