{% extends "_base.html" %}

{% block script %}
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <base href="{{ request.root_url }}/{{ base_url }}/{{ pagename }}" />
{% endblock %}

{% block pagename %}{{ pagename }}{% endblock %}

{% block content %}
    <h1>{{ pagename }}</h1>

    <form method="post" class="editor">
        <div id="editor"></div>
        <div class="buttons">
            <input type="button" value="저장" onclick="post_content()" />
            <a class="button" href="/{{ base_url }}/{{ pagename }}">취소</a>
        </div>
    </form>

    <script>
    let content = `{{ raw_md|safe }}`
    const Editor = toastui.Editor;
    const editor = new Editor({
        el: document.querySelector('#editor'),
        height: 'auto',
        initialValue: content,
        frontMatter: true,
        hooks: {
            addImageBlobHook: (blob, callback) => {
                let filename = prompt("파일명을 입력해주세요", blob.name);
                let postUrl = "/{{ base_url }}/{{ pagename }}/upload"
                let formData = new FormData();
                formData.append('file', blob, filename);
                formData.append('filename', filename);

                axios({
                    method: "post",
                    url: postUrl,
                    data: formData,
                    headers: { "Content-Type": "multipart/form-data" }
                }).then(function(response) {
                    callback(response.data.filename, 'alt text');
                    return false;
                }).catch(function() {
                    alert("이미지 업로드에 실패했습니다.");
                })
            }
        }
    });

    function post_content() {
        const form = document.getElementsByClassName('editor')[0];
        const field = document.createElement('textarea');
        field.name = 'md';
        field.value = editor.getMarkdown();
        form.appendChild(field);
        form.submit();
    }
    </script>
{% endblock %}
