{% extends "_base.html" %}

{% block pagename %}{{ pagename }}{% endblock %}

{% block content %}
<h1>{{ pagename }}</h1>

{% if pages %}
{% set permission_icons = {0: 'lock', 1: 'key', 2: 'unlock'} %}
<div class="archive">
    <table>
    <thead>
    <tr>
        {% if meta.logged_in %}
        <th></th>
        {% endif %}
        <th>제목</th>
        <th class="date">수정</th>
    </tr>
    </thead>
    <tbody>
    {% for page in pages %}
    <tr>
        {% if meta.logged_in %}
        <td class="center">
            <span style="display: none">{{ page.permission }}</span>
            <img src="{{ url_for('static', filename='img/' + permission_icons[page.permission] + '.svg') }}" class="permission">
        </td>
        {% endif %}
        <td class="left">
            <div class="">
                <a href="{{ url_for('note.route_page', page_path=page.path) }}">{{ page.path }}</a>
            </div>
            {% if page.summary %}
            <div class="list-meta">
                {{ page.summary }}
            </div>
            {% endif %}
            {% if page.tags %}
            <div class="list-tag">
            {% for tag in page.tags %}
                <a href="{{ url_for('main.view_tag', tag=tag) }}"> #{{ tag }}</a>
            {% endfor %}
            </div>
            {% endif %}
        </td>
        <td class="center list-date">{% if page.updated %}{{ page.updated.strftime('%Y.%m.%d') }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% else %}
    <p>문서가 없습니다.</p>
{% endif %}
{% endblock %}
