{% extends "_base.html" %}

{% block pagename %}{{ pagename }}{% endblock %}

{% block content %}
{% if pagename and not hide_header %}
<h1>{{ pagename }}</h1>
{% endif %}

{% set ns = namespace(last_id=None) %}
<ul class="recent">
{% for page in pages %}
    <li>
        <h2 id="{{ page.title }}">
            {% set path_elems = page.path.split('/') %}
            <p class="path">
            {% for name in path_elems[:-1] %}
                {% set path = path_elems[:loop.index]|join('/') %}
                <a href="{{ url_for('note.route_page', page_path=path) }}" class="wikilink">{{ name }}</a>
                {% if not loop.last %} ≫ {% endif %}
            {% endfor %}
            </p>
            <a href="{{ url_for('note.route_page', page_path=page.path) }}" class="wikilink">{{ page.title }}</a>
        </h2>
        <p class="meta">
            {% if page.updated %}
            {{ page.updated.strftime('%Y-%m-%d') }}
            {% endif %}
            {% if page.tags %} ·
            {% for tag in page.tags %}
                <a href="tags/{{ tag }}" class="wikilink">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            {% endif %}
        </p>
        {% if page.summary %}
        <p class="summary">{{ page.summary }}</p>
        {% endif %}
    </li>
    {% if loop.last %}{% set ns.last_id = page.title %}{% endif %}
{% endfor %}
</ul>

{% if more_pages %}
    <p><a href="{{ url_for('main.route_recent') }}" class="wikilink">모든 글 보기</a></p>
{% endif %}
{% endblock %}
