@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    /* https://github.com/Joungkyun/font-d2coding */
    font-family: 'D2Coding';
    font-style: normal;
    src: local(※),
    url('../D2Coding.woff') format('woff');
}


/* Layout */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: normal 18px/1.5 'Apple SD Gothic Neo', 'Malgun Gothic', Helvetica, Arial, Sans-serif;
    letter-spacing: -0.5px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #333333;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    header button {
        width: 32px;
        height: 32px;
        background-size: 32px;
    }
}

article {
    background-color: #FFFFFF;
}

div.page {
    max-width: 35em;
    margin: 0 auto;
    padding: 0.2em 1em;
}


/* Style */
a,
a:link,
a:visited {
    color: #2a99b6;
    text-decoration: none;
}
a:hover {
    color: #33bbdf;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

th, td {
    min-width: 4em;
    padding: 0.2em 0.4em;
    font-size: 85%;
}

th,
tr:last-child td {
    border-bottom: 1px solid #cccccc;
}

td {
    border-bottom: 1px dotted #cccccc;
}

hr {
    border-width: 0;
    border-top: 1px solid #aaaaaa;
}

del {
    color: #aaaaaa;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


/* Header */
header {
    background-color: #4bbec3;
}

header div.page {
    position: relative;
}

header div.page::after {
    display: block;
    clear: both;
    content: ' ';
}

header div.left {
    float: left;
}

header div.right {
    float: right;
}

header button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: url('../img/menu.svg') no-repeat right center;
    background-size: 40px;
    text-indent: -9999px;
    cursor: pointer;
}

header h1 {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Khula', sans-serif;
    font-weight: 300;
}

header h1 a:after {
    content: '/';
    margin-left: 0.2em;
    font-size: 75%;
    color: rgba(242,255,75,0.9);
}

header h1 a:link,
header h1 a:visited {
    color: rgba(255,255,255,0.9);
}

header h1 a:hover {
    color: rgba(242,255,75,0.8);
}

header p {
    margin: -0.1em 0 0;
    color: rgba(255,255,255,0.6);
}


/* Nav */
nav {
    background-color: #fbfbfb;
}


/* Contents */
article {
    padding-bottom: 3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans KR', 'Malgun Gothic','Sego UI', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 2.2em; /* 2.2em for 20px */
    margin: 0.6em 0 0.4em;
}

h2 {
    font-size: 1.8em;
    margin: 1.6em 0 0.4em;
}

h3 {
    font-size: 1.4em;
    margin: 1.6em 0 0.4em;
}

h4 {
    font-size: 1.2em;
    margin: 1.6em 0 0.4em;
}

blockquote {
    margin: 0;
    padding-left: 0.6em;
    border-left: 3px solid #cccccc;
    color: #999999;
}

code, pre {
    border-radius: 4px;
    font-size: 85%;
    font-family: D2Coding, Consolas, monospace;
    background-color: rgba(0,0,0,.04);
}

code {
    padding: .2em .4em;
    vertical-align: text-bottom;
    color: #666;
}

pre {
    padding: .4em .8em;
    overflow: auto;
    white-space: pre;
}

a.headerlink {
    font-size: 75%;
}

article p > a:not(.wikilink):not(.footnote-ref):not(.footnote-backref) {
    padding-right: 16px;
    background: url('../img/external_link.png') no-repeat right center;
    background-size: 16px;
}


/* Admonition
   Use or modified icons from https://github.com/icons8/flat-color-icons */
div.admonition {
    margin-bottom: 1.5em;
    padding: .5em 1em .5em 80px;
    border: 1px solid;
    border-radius: 8px;
}

p.admonition-title {
    font-weight: bold;
}

div.admonition p {
    margin: 0;
    padding: 0;
}

div.info {
    border-color: #4bbec3;
    background: url('../img/info.svg') no-repeat 1em center;
    background-size: 48px;
}
div.info p.admonition-title {
    color: #4bbec3;
}

div.help {
    border-color: #7baabe;
    background: url('../img/help.svg') no-repeat 1em center;
    background-size: 48px;
}
div.help p.admonition-title {
    color: #7baabe;
}

div.tip {
    border-color: #ead000;
    background: url('../img/tip.svg') no-repeat 1em center;
    background-size: 48px;
}
div.tip p.admonition-title {
    color: #ead000;
}

div.todo {
    border-color: #99C764;
    background: url('../img/todo.svg') no-repeat 1em center;
    background-size: 48px;
}
div.todo p.admonition-title {
    color: #99C764;
}

div.important {
    border-color: #ff8e00;
    background: url('../img/important.svg') no-repeat 1em center;
    background-size: 48px;
}
div.important p.admonition-title {
    color: #ff8e00;
}

div.alert {
    border-color: #f44336;
    background: url('../img/alert.svg') no-repeat 1em center;
    background-size: 48px;
}
div.alert p.admonition-title {
    color: #f44336;
}


/* Footnotes */
div.footnote ol {
    padding: 0 1em;
}

div.footnote p {
    margin: 0;
    word-break: break-all;
}

sup, sub {
    font-size: 85%;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

a.footnote-ref:before {
    content: '['
}

a.footnote-ref:after {
    content: ']'
}

a[rev="footnote"] {
    margin-left: 0.2em;
}


/* Login */
div.error {
    color: #f44336;
    margin-bottom: .6em;
}

form div {
    margin-bottom: .6em;
}

label {
    display: inline-block;
    min-width: 6em;
}

input[type=text],
input[type=password] {
    padding: .2em .4em;
    font-size: 90%;
}

input[type=submit] {
    margin-top: .4em;
    padding: .5em .8em;
    border: none;
    border-radius: 4px;
    background-color: #7baabe;
    color: #ffffff;
    cursor: pointer;
}



/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.6em 0;
    background-color: #7baabe;
    color: rgba(255,255,255,0.6);
}
