@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    /* https://github.com/Joungkyun/font-d2coding */
    font-family: 'D2Coding';
    font-style: normal;
    src: local(※),
    url('../D2Coding.woff') format('woff');
}


/* Layout */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font: normal 18px/1.5 'Apple SD Gothic Neo', 'Malgun Gothic', Helvetica, Arial, Sans-serif;
    letter-spacing: -0.5px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #444444;
}

article {
    flex: 1 1 auto;
    background-color: #FFFFFF;
}

div.page {
    max-width: 630px;  /* 35em for 18px */
    margin: 0 auto;
    padding: 0.2em 1em;
}

iframe {
    /* javascript 로 resize 후에 보인다 */
    display: none;
    border: none;
}


/* Style */
a,
a:link,
a:visited {
    color: #2a99b6;
    text-decoration: none;
}
a:hover {
    color: #33bbdf;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}
th, td {
    min-width: 4em;
    padding: 0.2em 0.4em;
    font-size: 85%;
}
th,
tr:last-child td {
    border-bottom: 1px solid #cccccc;
}
th {
    cursor: pointer;
}
td {
    border-bottom: 1px dotted #cccccc;
}

hr {
    border-width: 0;
    border-top: 1px solid #aaaaaa;
}

del {
    color: #aaaaaa;
}

.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}


/* Header */
header {
    padding: .2em 0;
    background-color: #4bbec3;
}

header div.page {
    display: flex;
}

header div.page::after {
    display: block;
    clear: both;
    content: ' ';
}

header div.left {
    float: left;
    flex: 1 1 auto;
}

header div.right {
    float: right;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

header button {
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    background: url('../img/menu.svg') no-repeat right center;
    background-size: 28px;
    text-indent: -9999px;
    cursor: pointer;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    font-family: 'Raleway', 'Khula', sans-serif;
    font-weight: 300;
}

header h1 a:after {
    content: '/';
    margin-left: 0.2em;
    font-size: 75%;
    color: rgba(242,255,75,0.9);
}

header h1 a:link,
header h1 a:visited {
    color: rgba(255,255,255,0.9);
}

header h1 a:hover {
    color: rgba(242,255,75,0.8);
}

header p {
    margin: 0;
    font-size: 0.85em;
    color: rgba(255,255,255,0.6);
}


/* Nav */
nav {
    display: none;
    font-size: 16px;
    background-color: #fbfbfb;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    margin-right: .4em;
    padding: .4em .8em .4em 1.6em;
}

nav li a,
nav li a:link,
nav li a:visited {
    color: #333333;
}

nav li a:hover {
    color: #33bbdf;
}

nav li a.menu-login {
    background: url('../img/menu-login.svg') no-repeat left center;
    background-size: 24px;
}

nav li a.menu-logout {
    background: url('../img/menu-logout.svg') no-repeat left center;
    background-size: 24px;
}

nav li a.menu-edit,
nav li a.menu-write {
    background: url('../img/menu-edit.svg') no-repeat left center;
    background-size: 24px;
}

nav li a.menu-archive {
    background: url('../img/menu-archive.svg') no-repeat left center;
    background-size: 24px;
}

nav li a.menu-config {
    background: url('../img/menu-config.svg') no-repeat left center;
    background-size: 24px;
}


/* Permission */
div.permission {
    margin-top: .8em;
    padding: .4em .6em;
    border-radius: 4px;
    overflow-x: auto;
    font-size: 85%;
    background-color: #f5f5f5;
}

div.permission strong {
    margin-right: .2em;
}

div.opened strong {
    color: #f44336;
}

div.allow-link strong {
    color: #ff8e00;
}

div.closed strong {
    color: #7db141;
}

div.permission a {
    white-space: nowrap;
}

div.set-permission {
    margin-top: .2em;
    padding-top: .2em;
}

div.set-permission form {
    display: inline-block;
}

div.set-permission input {
    display: none;
}

div.set-permission label {
    cursor: pointer;
}

div.set-permission label span {
    margin-left: .2em;
    opacity: 0.3;
}

div.set-permission label img {
    width: 18px;
    margin-left: .5em;
    vertical-align: text-bottom;
    opacity: 0.3;
}

div.set-permission input:checked ~ span,
div.set-permission input:checked ~ img {
    opacity: 1.0;
}


/* TOC */
div.toc ul ul {
    padding-left: 1.6em;
}


/* Contents */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans KR', 'Malgun Gothic','Sego UI', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 1.8em;
    margin: 0.6em 0 0.4em;
}

h2 {
    font-size: 1.5em;
    margin: 1.6em 0 0.4em;
}

h3 {
    font-size: 1.35em;
    margin: 1.6em 0 0.4em;
}

h4 {
    font-size: 1.2em;
    margin: 1.6em 0 0.4em;
}

div.article h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #cccccc;
}

div.article ul ul,
div.article ul ol,
div.article ol ol,
div.article ol ul {
    padding-left: 1.6em;
}
div.article li p {
    display: inline-block;
    margin: 0;
}
div.article ul {
    list-style: none;
}
div.article ul > li::before {
    display: inline-block;
    vertical-align: top;
    width: 1em;
    margin-left: -2em;
    content: "\2022";
    color: #2a99b6;
}

div.article ol {
    list-style: none;
    counter-reset: li;
}
div.article ol > li {
    counter-increment: li;
}
div.article ol > li::before {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 0 .5em 0 -2em;
    content: counter(li) ".";
    color: #2a99b6;
}

blockquote {
    margin: 0;
    padding-left: 0.6em;
    border-left: 3px solid #2a99b6;
}

code, pre {
    border-radius: 4px;
    font-size: 85%;
    font-family: D2Coding, Consolas, monospace;
    background-color: rgba(0,0,0,.04);
}

code {
    padding: .1em .2em;
    vertical-align: text-bottom;
    color: #666;
    border-radius: 4px;
}

pre {
    padding: .4em .8em;
    overflow: auto;
    white-space: pre;
}

pre > code {
    padding: 0;
    background: none;
}


a.headerlink {
    font-size: 75%;
}

article p > a:not(.wikilink):not(.footnote-ref):not(.footnote-backref) {
    padding-right: 16px;
    background: url('../img/external_link.png') no-repeat right center;
    background-size: 16px;
}


/* Admonition
   Use or modified icons from https://github.com/icons8/flat-color-icons */
div.admonition {
    margin-bottom: 1.5em;
    padding: .5em 1em .5em 80px;
    border: 1px solid;
    border-radius: 8px;
}

p.admonition-title {
    font-weight: bold;
}

div.admonition p {
    margin: 0;
    padding: 0;
}

div.info {
    border-color: #4bbec3;
    background: url('../img/info.svg') no-repeat 1em center;
    background-size: 48px;
}
div.info p.admonition-title {
    color: #4bbec3;
}

div.help {
    border-color: #7baabe;
    background: url('../img/help.svg') no-repeat 1em center;
    background-size: 48px;
}
div.help p.admonition-title {
    color: #7baabe;
}

div.tip {
    border-color: #ead000;
    background: url('../img/tip.svg') no-repeat 1em center;
    background-size: 48px;
}
div.tip p.admonition-title {
    color: #ead000;
}

div.todo {
    border-color: #7db141;
    background: url('../img/todo.svg') no-repeat 1em center;
    background-size: 48px;
}
div.todo p.admonition-title {
    color: #7db141;
}

div.important {
    border-color: #ff8e00;
    background: url('../img/important.svg') no-repeat 1em center;
    background-size: 48px;
}
div.important p.admonition-title {
    color: #ff8e00;
}

div.alert {
    border-color: #f44336;
    background: url('../img/alert.svg') no-repeat 1em center;
    background-size: 48px;
}
div.alert p.admonition-title {
    color: #f44336;
}


/* Editor */
form.editor {
    margin: 1.5em 0;
}

form div.buttons {
    text-align: right;
}

form a.button {
    display: inline-block;
    margin-top: .4em;
    padding: .5em .8em;
}


/* Footnotes */
div.footnote p {
    display: inline-block;
    margin: 0;
    word-break: break-all;
}

sup, sub {
    font-size: 85%;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

a.footnote-ref:before {
    content: '['
}

a.footnote-ref:after {
    content: ']'
}

a[rev="footnote"] {
    margin-left: 0.2em;
}


/* Login */
div.error {
    color: #f44336;
    margin-bottom: .6em;
}

div.login form div {
    margin-bottom: .6em;
}

div.login label {
    display: inline-block;
    min-width: 6em;
}

input[type=text],
input[type=password] {
    padding: .2em .4em;
    font-size: 90%;
}

input[type=submit] {
    margin-top: .4em;
    padding: .5em .8em;
    border: none;
    border-radius: 4px;
    background-color: #7baabe;
    color: #ffffff;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6cb0bf;
}


/* Recent */
ul.recent {
    padding: 0;
    list-style-type: none;
}

ul.recent li {
    margin-bottom: 1.6em;
}

ul.recent p {
    margin: 0;
}

ul.recent h2 {
    margin: 1em 0 .1em;
    font-family: 'Noto Sans KR', 'Malgun Gothic','Sego UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    color: #2a99b6;
}

ul.recent .summary {
    margin-top: .4em;
}

ul.recent .meta {
    margin: 0;
    color: #999999;
    font-size: 90%;
}

ul.recent a.wikilink {
    color: inherit;
}


/* Archive */
div.archive table {
    width: 100%;
}

div.archive img.permission {
    width: 18px;
}



/* Footer */
footer {
    margin-top: 1.6em;
    padding: 0.3em 0;
    font-size: 0.85em;
    background-color: #7baabe;
    color: rgba(255,255,255,0.6);
}


/* Mobile */
@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    header {
        padding: .2em 0;
    }
    header h1 {
        font-size: 1.5em;
    }
    header button {
        width: 24px;
        height: 24px;
        background-size: 24px;
    }

    nav li {
        float: none;
    }
    nav li a {
        margin: 0;
        border-bottom: 1px solid #eeeeee;
        padding-left: 2em;
    }
}
